.servicesContainer {
  margin-top: 5rem;
  width: 100%;
}

.serviceWrapper {
  width: 80%;
  margin: 0 auto;
  /* text-align: center; */
}

.serviceWrapper h3 {
  color: purple;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.serviceBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.serviceBox .box {
  background-color: rgb(240, 237, 240);
  box-shadow: 20px 20px 24px rgba(148, 148, 148, 0.08);
  height: 100% !important;
  border-radius: 10px;
  padding: 30px 15px 34px;
  padding-left: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.serviceBox .box:hover {
  transform: scale(1.02);
  filter: brightness(1.1);
  border: 1px solid rgb(248, 210, 248);
  transition: background-color 0.3s ease;
}

.icon {
  color: rgb(52, 40, 52);
  font-size: 3rem;
}

.box h4 {
  font-size: 1.3rem;
  color: purple;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin-top: 10px;
}

.box p {
  font-size: 1rem;
  line-height: 25px;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .serviceWrapper {
    width: 90%;
  }
}
