.teamHeroContainer {
  width: 100%;
  background-image: url(../../../../images/teambg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgb(104, 40, 104);
  background-blend-mode: darken;
  height: 60vh;
  text-align: center;
}

.teamHeroWrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 15rem;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}

.teamHeroWrapper h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2.2rem;
  text-align: center;
}

.teamHeroWrapper p {
  font-size: 1rem;
  line-height: 25px;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
}
