.heroContainer {
  width: 100%;
  background-image: url(../../../../images/hero.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgb(62, 62, 62);
  background-blend-mode: darken;
  height: 90vh;
}

.heroWrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 15rem;
  height: 80vh;
  font-family: "Poppins", sans-serif;
}

.heroWrapper h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  width: 70%;
  font-size: 4rem;
}

.heroWrapper p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}

.whoBtn {
  background-color: rgb(186, 184, 184);
  border: 1px solid purple;
  border: none;
  margin: 0 auto;
  padding: 15px 35px;
  color: #000;
  margin-top: 30px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid rgb(42, 42, 42);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.whoBtn:hover {
  transition: background-color 0.5s ease;
  border: 1px solid purple;
  color: #fff;
  background-color: purple;
}

@media screen and (max-width: 1024px) {
  .heroWrapper {
    width: 90%;
  }
}
